@font-face {
    font-family: 'BPG WEB 002';
    src: url('../fonts/bpg-web-002/bpg-web-002-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-web-002/bpg-web-002-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/bpg-web-002/bpg-web-002-webfont.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/bpg-web-002/bpg-web-002-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/bpg-web-002/bpg-web-002-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/bpg-web-002/bpg-web-002-webfont.svg#bpg_web_002regular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG WEB 002 Caps';
    src: url('../fonts/bpg-web-002-caps/bpg-web-002-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-web-002-caps/bpg-web-002-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/bpg-web-002-caps/bpg-web-002-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/bpg-web-002-caps/bpg-web-002-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/bpg-web-002-caps/bpg-web-002-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/bpg-web-002-caps/bpg-web-002-caps-webfont.svg#bpg_web_002_capsregular') format('svg'); /* Legacy iOS */
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: sans-serif;
}

.container-fluid {
    padding-right: 0px;
    padding: 0px;
}

/*create carousel*/
.carousel-inner,
.carousel,
.item,
.container,
.fill {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    margin: 0;
}

.slide-wrapper {
    display: inline;
}

.slide-wrapper .container {
    padding: 0px;
}

/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner > .item.next,
.carousel-inner > .item.active.right {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0;
}

.carousel-inner > .item.prev,
.carousel-inner > .item.active.left {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0;
}

.carousel-inner > .item.next.left,
.carousel-inner > .item.prev.right,
.carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    top: 0;
}

/*------------------------------- vertical carousel indicators ------------------------------*/

.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
}

.carousel-indicators li {
    display: block;
    margin-bottom: 5px;
    border: 1px solid #00a199;
}

.carousel-indicators li.active {
    margin-bottom: 5px;
    background: #00a199;
}

/*-------- Animation slider ------*/

.animated {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}

.carousel-img {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.item img {
    margin: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.item1 .carousel-img img,
.item1.active .carousel-img img {
    max-height: 300px;
}

.item1.active .carousel-img img.animated {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
}

.item .carousel-desc {
    text-align: end;
}

.item h2 {
    font-size: 50px;
    animation-delay: 1s;
    animation-duration: 1s;
}

.item p {
    animation-delay: 1.8s;
    animation-duration: 1s;
    width: 50%;
    margin: auto;
}

.item2 .carousel-img img,
.item2.active .carousel-img img {
    max-height: 300px;
}

.item2.active .carousel-img img.animated {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    animation-duration: 5s;
    animation-delay: 0.3s
}

.item2 h2,
item2.active h2 {
    visibility: hidden;
    opacity: 0;
    transition: all 5s ease;
}

.item2.active h2.animated {
    visibility: visible;
    opacity: 1;
    animation-delay: 4s
}

.item .fill {
    padding: 0px 30px;
    display: table;
}

.item .inner-content {
    display: table-cell;
    vertical-align: middle;
}

.inner-content {
    position: absolute;
    bottom: 47px;
    right: 0;
    z-index: 2;
}

.item3 .col-md-6 {
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.item3.active .carousel-img img.animated {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    animation-duration: 2s;
    animation-delay: 0.3s
}

.item3 h2,
item3.active h2 {
    visibility: hidden;
    opacity: 0;
    transition: all 5s ease;
}

.item3.active h2.animated {
    visibility: visible;
    opacity: 1;
    animation-delay: 1.5s
}

.item3 p,
item3.active p {
    visibility: hidden;
    opacity: 0;
    transition: all 5s ease;
    width: 100%;
}

.item3.active p.animated {
    visibility: visible;
    opacity: 1;
    animation-delay: 2.5s
}

.carousel-image {
    background-image: url(../imgs/img1.png);

}

.carousel-image::after {
    content: "";
    background-color: rgba(7, 0, 67, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.carousel-desc-txt1 {
    font-size: 25px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: "BPG WEB 002 Caps", sans-serif;

}

.carousel-desc-txt2 {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 594px;
    height: 40px;
    color: #ea082d;
    margin-top: 16px;
    font-size: 20px;
    font-family: "BPG WEB 002", sans-serif;
    margin-bottom: 0;

}

.carousel-desc-txt2 li {
    padding-left: 5px;

}

.carousel-desc-txt2 li:after {
    content: " / ";
}

.carousel-desc-txt2 li:last-child:after {
    content: "";
}

.carousel-desc {
    margin: 0px;
    padding: 0;
}

.carousel-btn a {
    display: block;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-family: "BPG Web 002", sans-serif;
}

.carousel-btn {
    background-color: #ea0d31;
    font-size: 20px;
    display: inline-flex;
    width: 235px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

/*start nav*/

.navcontainer {
    z-index: 30;
    position: fixed;
    width: 50px;
    background-color: #ea0d31;
    height: 100%;

}

.menu-icon {
    margin-top: 24px;
}

.menu-icon > .line {
    background-color: #ffffff;
    height: 4px;
    width: 26px;
    display: block;
    border-radius: 2px;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 5px;

}

#navmenu {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.navmenu-item > li {
    margin-bottom: 54px;
}

.lang-container {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

@media (max-width: 991px) {
    .item .carousel-desc,
    .item.item3 .carousel-desc {
        text-align: center;
    }

    .item .carousel-desc p {
        width: 80%;
    }

    .item3 .col-md-6 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .item .carousel-img img,
    .item.active .carousel-img img {
        max-height: 155px;
    }

    .item h2 {
        font-size: 30px;
        margin-top: 0px;
    }

    .item .carousel-desc p {
        width: 100%;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .item h2 {
        font-size: 30px;
    }

    .item .carousel-desc p {
        width: 100%;
    }
}

/*სექციის გამყოფი*/

.section-div {
    display: flex;
}

.section-start,
.section-end {
    height: 48px;
    background-color: #ea0d31;

}

.section-start::after {
    content: url("../imgs/reclef.png");
}

.section-center {
    height: 48px;
    background-color: #ea0d31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fefefe;
    font-family: "BPG WEB 002 Caps", sans-serif;

}

.section-center > p {
    margin: 0 auto;
}

.section-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*გამყოფის დასასრული*/

.main-content {
    margin-top: 67px;
}

.service-header {
    display: flex;
    justify-content: center;

}

.header-inner {
    width: 500px;
    font-size: 20px;
    color: #ea082d;
    text-align: center;
    font-family: "BPG Web 002", sans-serif;
}

.services-container {
    display: flex;
    margin-top: 81px;
    justify-content: center;
    margin-left: 120px;
}

.main-services {
    width: 1250px;
    height: auto;

}

.detail-service {
    width: 350px;
    display: inline-flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
}

.service-icon {
    display: flex;
    justify-content: center;
}

.service-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    background-color: #ea0d31;
    width: 301px;
    height: 48px;
    color: #fefefe;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 28px;
    border: 0;
    font-weight: bold;
    font-family: "BPG WEB 002 Caps", sans-serif;

}

.service-button:hover {
    text-decoration: none;
    background-color: #4f4f4f;
    color: #fefefe;
}

.desc-inner {
    width: 300px;
    text-align: center;
    font-size: 16px;
}

.other-services {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.other-services input {
    border-color: #ea0d31;
    background-color: inherit;
    width: 344px;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    color: #ea0d31;
    font-family: "BPG WEB 002 Caps";
}

.other-services input:hover {
    background-color: #ea0d31;
    color: #ffffff;
    border: 1px solid #ea0d31;

}

.section-portfolio {
    margin-top: 87px;
}

.portfolio-container {
    display: flex;
    margin-top: 81px;
    justify-content: center;

}

.detail-portfolio > img {
    width: 280px;
    height: 280px;
}

.main-portfolio {
    width: 1360px;
    height: auto;
}

.detail-portfolio {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 280px;
    margin: 20px;
    margin-left: 114px;
    position: relative;

}

.loop {
    position: absolute;
    overflow: hidden;
    bottom: 24px;
    background-color: #ea0d31;
    width: 95px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-portfolio :hover + .portfolio-txt .loop > a {
    display: block;
}

.loop > img {
    width: 40px;
    height: 40px;
}

.loop > a {
    text-decoration: none;
    display: none;
}

.portfolio-txt {
    position: absolute;
    width: 200px;
    text-align: center;
    left: 40px;
    bottom: 112px;
    color: white;
    display: none;

}

.portfolio-btn {
    display: flex;
    justify-content: center;
    margin-top: 80px;

}

.portfolio-btn > input {
    width: 284px;
    height: 48px;
    background-color: #ea0d31;
    border: 0;
    font-size: 20px;
    color: #fefefe;
}

.portfolio-btn > input:hover {
    background-color: inherit;
    color: #ea0d31;
    border: 2px solid #ea0d31;
    font-weight: bold;
}

.all-services {
    background-image: url("../imgs/services-bgi.png");
    height: 211px;
    margin-top: 64px;
    display: flex;
    justify-content: center;

}

.all-services-container {
    margin-left: 114px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 13px;
}

.all-services-counter {
    width: 119px;
    height: 119px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color: #fefefe;
    font-family: "BPG WEB 002 Caps", sans-serif;
}

.all-services-title {
    width: 119px;
    display: flex;
    justify-content: center;
    margin-top: 29px;
    color: #fefefe;
    font-size: 20px;
    font-weight: bold;
    font-family: "BPG WEB 002 Caps";
}

.team-container {
    margin-top: 64px;
}

.team-title {
    margin-top: 67px;
    display: flex;
}

.team-title-start {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ea0d31;
    height: 48px;
    padding-right: 64px;
    font-size: 20px;
    color: #fefefe;
    font-weight: bold;
    text-align: center;
    font-family: "BPG WEB 002 Caps";
}

.team-title-end,
.about-rating-content {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ea082d;
    font-size: 20px;
    font-family: "BPG WEB 002";
}

.content-team {
    display: flex;
    justify-content: center;
    margin-top: 157px;
}

.bg-border {
    position: absolute;
    width: 1010px;
    height: 48px;
    background-color: #ea0d31;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-border span {
    font-weight: bold;
    font-size: 36px;
    color: #fefefe;
}

.worker-main {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 37px;
}

.worker-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    margin-top: -50px;
}

.worker-img img {
    width: 186px;
    height: 166px;
}

.worker-position {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #070001;
    font-family: "BPG WEB 002";
}

.worker-fname,
.worker-lname {
    text-align: center;
    font-size: 20px;
    color: #ea082d;
    font-family: "BPG WEB 002";
}

.worker-soc-info {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.worker-name {
    margin-top: 29px;
}

.title-rating-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ea0d31;
    height: 48px;
    padding-right: 64px;
    font-size: 20px;
    color: #fefefe;
    font-weight: bold;
    text-align: center;
    font-family: "BPG WEB 002 Caps";
}

.user-info {
    margin-left: 53px;
}

.user-feedback {
    width: 856px;
    display: flex;
}

.user-comment {
    width: 455px;
    font-size: 16px;
    color: #414141;
    font-family: "BPG WEB 002";
}

.user-content {
    display: flex;
    justify-content: center;
    margin-top: 31px;
}

.user-img > img {
    border-radius: 50%;
}

.user-name {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: "BPG WEB 002";
}

.user-position {
    font-size: 16px;
    color: #464646;
    font-weight: bold;
    margin-bottom: 29px;
    font-family: "BPG WEB 002";
}

.user-lname {
    margin-left: 10px;
}

.rate-line {
    display: flex;
    justify-content: center;
    margin-top: 14px;

}

.inner-line {
    width: 1010px;
    margin: 0 auto;
    height: 48px;
    background-color: #ea0d31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 39px;

}

.page-news {
    margin-top: 64px;

}

.news-title-start {
    background-color: #b0b0b0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    font-size: 20px;
    color: #fefefe;
    padding-right: 64px;
    font-family: "BPG WEB 002 Caps";
}

.news-title-end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 20px;
    color: #ea082d;
    font-family: "BPG WEB 002";

}

.news-container {
    display: flex;
    justify-content: center;
    clear: both;

}

.news-inner-container {
    width: 875px;
    margin-top: 24px;
    display: flex;
}

.main-info {
    padding-left: 15px;

}

.news-header {
    margin-top: 24px;
}

.news-title {
    margin-top: 59px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #000000;
    margin-bottom: 12px;
    font-family: "BPG WEB 002 Caps";
}

.news-info {
    font-size: 16px;
    color: #545454;
    font-family: "BPG WEB 002";
    width: 233px;
}

.news-btn {
    display: flex;
    justify-content: center;
    font-family: "BPG WEB 002 Caps";

}

.news-btn input {
    width: 290px;
    height: 39px;
    font-size: 16px;
    color: #ea0d31;
    background-color: inherit;
    border: 1px solid #ea0d31;
    margin-top: 18px;
}

.news-btn input:hover {
    background-color: #ea0d31;
    color: #f7f7f7;
}

.inner-line-white {
    background-color: #e6e6e6;
    margin-top: 64px;
    position: relative;
}

.sponsors-images {
    position: absolute;
    top: -12px;
    display: flex;
    align-items: center;
    left: 55px;

}

.sponsors-image {
    padding-left: 55px;
    display: inline-block;
}

/*კონტაქტის ინფორმაცია*/
.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 105px;
    flex-direction: row;
}

.contact-line {
    width: 1010px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ea0d31;

}

.container-inner-container {
    width: 1010px;
}

.contact-line p {
    font-size: 20px;
    color: #ea0d31;
    font-weight: bold;
    font-family: "BPG WEB 002 Caps";
    margin: 0 auto;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-inner-info {
    width: 900px;
    display: flex;
    margin-top: 66px;

}

.contacter-border input {
    border: 0;
    border-bottom: 2px solid #8d8d8d;
    font-size: 16px;
    color: #8d8d8d;
    font-family: "BPG WEB 002";
}

.contacter-border {
    margin-bottom: 32px;
}

.contacter-comment input[placeholder] {
    width: 419px;
    height: 100px;
}

.contacter-name input {
    width: 135px;
}

.contacter-email input {
    width: 94px;
}

.contacter-number input {
    width: 192px;
}

.contacter-comment textarea {
    width: 419px;
    height: 80px;
    text-align: center;
    border: 0;
    border-bottom: 2px solid #8d8d8d;
    max-width: 419px;
    min-width: 419px;
    font-family: "BPG WEB 002";
}

.contacter-comment textarea[placeholder] {
    text-align: start;
    font-size: 16px;
    color: #8d8d8d;
}

.contacter-btn {
    margin-top: 30px;
}

.contacter-btn input {
    width: 250px;
    height: 50px;
    background-color: #ea0d31;
    font-size: 20px;
    font-weight: bold;
    color: #fefefe;
    border: 0;
    font-family: "BPG WEB 002 Caps";
}

.contact-our-info {
    margin-left: 50px;
}

.contact-our-map {
    width: 480px;
    height: 230px;
}

.address-container {
    margin-top: 31px;
}

.main-address-detail,
.main-address-emails,
.main-address-numbers {
    display: flex;
    list-style: none;
    font-size: 17px;
    color: #8d8d8d;
    font-family: "BPG WEB 002";
}

.address-city:after {
    content: ',   ';
    white-space: pre;
}

.company-emails:after {
    content: '';
    margin-left: 34px;
}

.company-numbers:after {
    content: '';
    margin-left: 31px;
}

.footer-container {
    width: 100%;
    height: 427px;
    background: url("../imgs/footer-img.png") no-repeat center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;

}

.footer-inner:after {
    content: "";
    background-color: rgba(234, 13, 49, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.contact-header {
    width: 100%;
    height: 169px;
    background: url("../imgs/contact-header.png") center no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-header-inner {
    content: "";
    background-color: rgba(59, 37, 37, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.contact-header-text {
    font-size: 33px;
    font-weight: bold;
    font-family: "BPG WEB 002 Caps";
    color: #ffffff;
    z-index: 4;
}

.contact-container-resizing {
    margin-top: 0
}

.main-logo {
    position: absolute;
    top: 19px;
    left: 69px;
    z-index: 3;
}

.footer-resizing {
    margin-top: 115px;
}

.portfolio-works-title {
    font-size: 20px;
    font-weight: bold;
    color: #fefefe;
    font-family: "BPG WEB 002 Caps";
    width: 626px;
    height: 48px;
    background-color: #4f4f4f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-main-container {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}