* {
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

/*create main menu*/

.main-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    background-color: #ea0d31;
    height: 100%;
    width: 50px;

}

.main-content {
    background-color: black;
    height: 20px;
}